#ingredients-container {
  height: 50%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.tile {
  background-color: white;
  width: 100%;
  border-radius: 10px;
  border-width: 1px;
  border-color: #e0e0e0;
  border-style: solid;
  text-align: center;
  text-overflow: ellipsis;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding-bottom: 20px;
}

.view-btn {
  cursor: pointer;
  display: flex;
  padding: 10px 20px;
  border-radius: 10px;
  border-width: 2px;
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  background-color: var(--primary-color);
  color: white;
  border: none;
  outline: none;
}

.view-btn:hover {
  background-color: var(--primary-color-dark);
  color: white;
}

.browse-ingredients {
  font-weight: 600;
  font-size: 48px;
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: middle;
  color: #333333;
}

.ing-img {
  height: 164px;
  object-fit: cover;
  width: 100%;
  border-top-left-radius: 8px; /* Rounded top-left corner */
  border-top-right-radius: 8px; /* Rounded top-right corner */
}

.tile-name {
  font-weight: 700;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0%;
  padding: 0 30px 0 30px;
}

.tile-text {
  font-weight: 400;
  font-size: 20px;
  line-height: 1.2; /* Adjust line height for better spacing */
  letter-spacing: 0%;
  text-align: center;
  padding: 0 30px 0 30px;
  text-overflow: ellipsis; /* Adds "..." when text overflows */
  overflow: hidden; /* Hides overflowing text */
  display: -webkit-box; /* Enables the use of line clamping */
  -webkit-line-clamp: 3; /* Limits the text to 3 lines */
  -webkit-box-orient: vertical; /* Specifies vertical orientation for the box */
  height: 70px; /* Ensures the height matches the clamped lines */
}

@media (max-width: 768px) {
  #ingredients-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  #ingredients-container {
    grid-template-columns: repeat(1, 1fr);
  }
}
