* {
  margin: 0;
}

#calculator-container {
  display: flex;
  background-color: rgba(255, 255, 255, 0.7);
  border: 1px solid #e0e0e0;
  backdrop-filter: blur(10px);
  border-radius: 10px;
  width: 100%;
  max-height: 60vh;
  overflow: hidden;
}

#ingredients-section {
  display: flex;
  flex-direction: column;
  width: 50%;
  background-color: white;
  border-radius: 10px 0 0 10px;
  border-right: 1px solid #e0e0e0;
  max-height: 100%;
  overflow-y: scroll;
}

.ingredient-card {
  display: flex;
  gap: 10px;
  width: 100%;
  padding: 10px;
  cursor: pointer;
}

.ingredient-card:hover {
  background-color: #f0f0f0;
}

.ingredient-card.selected {
  background-color: var(--primary-color);
  color: white;
}

.ingredient-card.selected .ingredient-details .ingredient-name {
  color: white;
}

.ingredient-card.selected .tag {
  background-color: white;
  color: var(--text-color);
}

.ingredient-card:not(:last-child) {
  border-bottom: 1px solid #e0e0e0;
}

.ingredient-card .ingredient-image {
  width: 60px;
  height: 60px;
  border-radius: 5px;
}

.ingredient-card .ingredient-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
}

.ingredient-image {
  width: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 10px;
}

#substitution-options {
  display: flex;
  flex-direction: column;
  border: 1px solid #e0e0e0;
  background-color: white;
  border-radius: 5px;
  overflow: hidden;
}

.substitution-option {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding: 20px;
}

.substitution-option:not(:last-child) {
  border-bottom: 1px solid #e0e0e0;
}

.substitute-details {
  display: flex;
  gap: 20px;
  align-items: center;
}

.substitute-details-text {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.substitute-description {
  font-size: 0.9rem;
  color: #777;
}

.substitute-image {
  width: 80px;
  border-radius: 5px;
}

.amount-details {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 5px;
}

.substitute-ratio {
  background-color: #e0e0e0;
  padding: 5px;
  border-radius: 5px;
  font-size: 0.8rem;
}

.calculated-amount {
  display: flex;
  gap: 5px;
}

#calculator-section {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 20px;
  padding: 20px;
}

#calculator-input {
  display: flex;
}

#quantity-input {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  flex-grow: 1;
  min-width: 0;
}

#units-dropdown {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

@media (max-width: 768px) {
  #calculator-container {
    flex-direction: column;
    max-height: none;
  }

  #ingredients-section {
    width: 100%;
    border-right: none;
    border-bottom: 1px solid #e0e0e0;
    flex-direction: row;
  }

  .ingredient-card {
    width: 100%;
    min-width: 200px;
    align-items: center;
    padding: 10px;
    flex-direction: column;
  }

  .ingredient-card .ingredient-image {
    width: 80px;
    height: 80px;
  }

  .ingredient-details {
    width: 100%;
    text-align: center;
    align-items: center;
  }

  .substitution-option {
    flex-direction: column;
    align-items: flex-start;
  }

  .amount-details {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .substitute-details {
    flex-direction: column;
    align-items: flex-start;
  }

  .substitute-image {
    width: 100%;
    height: auto;
  }

  #calculator-section {
    width: 100%;
  }

  #ingredients-section {
    border-radius: 0;
  }
}
